*{
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  justify-content: center;    
  align-items: center; 
  height: 100vh;
  flex-direction: column; 
}


.MyBox{
  margin-bottom: 20px;
  height: 35vh;
  width: 240px;
  display: flex;             
  justify-content: center;    
  align-items: center; 
}

.MyBox , input{
 box-shadow: 1px 1px 10px black ;
 border-radius: 50px;

}


input{
  padding: 10px;
  width: 220px;
 border: none;
}

