.App {
  display: flex;
  justify-content: center;    
  align-items: center; 
  height: 100vh;
  flex-direction: column; 
}


.MyBox{
  margin-bottom: 20px;
  height: 35vh;
  width: 240px;
  display: flex;             
  justify-content: center;    
  align-items: center; 
}

.MyBox , input, button{
 box-shadow: 1px 1px 10px black ;
 border-radius: 50px;

}


input{
  padding: 10px;
  /* width: 200px; */
 border: none;
}

button{
  padding: 10px;
 border: none;
margin-left: 10px;
}